---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: https://hutt.io/sitemap.xml

User-agent: *
Disallow: /me/
Disallow: /impressum/
Disallow: /datenschutz/

User-agent: URLMetriken
Disallow: /

User-agent: Googlebot-Image
Disallow: /
Disallow: /assets/img/